<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To_Do_List</title>
</head>
<body>

{% if request.user.is_authenticated %}
    <p>Welcome, {{ request.user.username }}!</p>
    <form action="{% url 'logout' %}" method="post">
        {% csrf_token %}
        <button type="submit">Logout</button>
    </form>
{% else %}
    <a href="{% url 'login' %}">Login</a>
{% endif %}
<hr>

<h1> To do App List {{ color }}</h1>
<a href="{% url 'task-create' %}">Add Task</a>

<form method="GET">
    <input type="text" name="search_area" placeholder="Search tasks" value="{% if request.GET.search_area %}{{ request.GET.search_area }}{% endif %}">
    <input type="submit" value="Search">
</form>

<table>
    <tr>
        <th>Item</th>
        <th>Actions</th>
    </tr>
    {% for task in tasks %}
    <tr>
        <td>{{ task.title }}</td>
        <td><a href="{% url 'task' task.id %}">View</a></td>
        <td><a href="{% url 'task-update' task.id %}">Edit</a></td>
        <td><a href="{% url 'task-delete' task.id %}">Delete</a></td>
    </tr>
    {% empty %}
    <tr>
        <td colspan="2"><h3>No items in list</h3></td>
    </tr>
    {% endfor %}
</table>

</body>
</html>
